<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraping App</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #3498db;
            color: #fff;
        }

        h1 {
            text-align: center;
            color: #fff;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 5px;
            overflow: hidden;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
            color: #000;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        button {
            background-color: #ddd;
            color: #000000;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            display: block;
            margin: 20px auto;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #2779b5;
        }
    </style>
</head>

<body>
    <h1>Scraping results</h1>
    <p style="text-align: center; color: #fff; margin-bottom: 20px;">
        Note: The results may vary and are not 100% reliable.
    </p>
    <button onclick="window.location.href = '/'">Go Back and Scrape Again</button>
    <table>
        <tr>
            <th>Product Title</th>
            <th>Rating (stars out of five)</th>
            <th>Number of reviews</th>
        </tr>
        <% for (let i = 0; i < produtos.length; i++) { %>
            <tr>
                <td><%= produtos[i].title %></td>
                <td><%= produtos[i].ratings %></td>
                <td><%= produtos[i].numberOfReviews %></td>
            </tr>
        <% } %>
    </table>

    
</body>

</html>
